<div ui-content-for="leftSidebar">
    <div ng-include="'js/app/student/leftsidebar.tpl.html'" ui-track-as-search-param='true'></div>
</div>
<div ui-content-for="back"></div>
<div ui-content-for="title"><span>Inicio</span></div>
<div ui-content-for="navbarAction">
    <div ng-click="logout();" class="btn"><i class="fa fa-sign-out"></i></div>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home">
                <h3>Gestao de Presencas em Eventos</h3>
            </div>
            <a class="list-group-item list-group-item-home" ng-click="go('/student/ucs')">
                <div>
                    <i class="fa fa-book feature-icon text-ipl"></i>
                </div>
                <div>
                    <h3 class="home-heading">Unidade Curriculares</h3> Listagem e detalhes das Unidade Curriculares.
                </div>
            </a>
            <a class="list-group-item list-group-item-home" ng-click="go('/student/attendances')">
                <div>
                    <i class="fa fa-check feature-icon text-ipl"></i>
                </div>
                <div>
                    <h3 class="home-heading">Presencas</h3> Listagem e detalhes de Presencas.
                </div>
            </a>
            <a class="list-group-item list-group-item-home" ng-click="go('/student/users/' + session.getUser().idUser)">
                <div>
                    <i class="fa fa-user feature-icon text-ipl"></i>
                </div>
                <div>
                    <h3 class="home-heading">A minha conta</h3> Ver e alterar os detalhes da conta.
                </div>
            </a>
        </div>
    </div>
</div>