<div class="scrollable">
    <h1 class="scrollable-header app-name">G. P. E.</h1>
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" ng-click="go('/student');">Inicio <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" ng-click="go('/student/ucs');">Unidades Curriculares <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" ng-click="go('/student/attendances');">Presencas<i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" ng-click="go('/student/users/' + session.getUser().idUser);">A minha conta <i class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>